*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html{
  font-size: 14px;
}
.container{
  width: 1000px;
  margin: 30px auto;
}
.panel{
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 30px;
}
.panel-header{
  font-size: 16px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
}
.panel-body{
  padding: 20px 10px;
}
.mark-item{
  background: #ccc;
  color: #fff;
}
.demo-content{
  border: 1px solid #e4393c;
}
/*行内元素水平居中*/
/*方案1*/
.line-align-center-one{
  height: 400px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #e4393c;
}
/*方案2*/
.line-align-center-two{
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: auto;
  height: 400px;

}
.mark-two{
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: auto;
}